.donate {
    display: flex;
    justify-content: center;
}
.donateLeft {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    color: white;
}

.donateTitle {
    width: 475px;
    height: 136px;
    font-weight: 900;
    font-size: 56px;
    line-height: 68px;
}

.donateText {
    width: 605px;
    height: 180px;
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
}


.donateRight {
    margin-left: 220px;
    width: 377px;
    height: 576.89px;
    background-color: yellow;
}

@media only screen and (max-width: 1499px) {
    .donateTitle {
        width: 318px;
        height: 91px;
        font-size: 38px;
        line-height: 45px;
    }

    .donateText {
        margin-top: 63px;
        width: 405px;
        height: 120px;
        font-size: 12px;
    }

    .donateRight {
        margin-left: 147px;
        width: 252px;
        height: 385px;
    }
}
