.donate {
    display: flex;
    justify-content: center;
}
.donateLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Montserrat;
    color: white;
}

.donateTitle {
    max-width: 723px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 40px;
}

.donateText {
    max-width: 605px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 200%;
}


.donateRight {
    margin-left: 190px;
    width: 377px;
    height: 576.89px;
    background-color: #C4C4C4;
}

@media only screen and (max-width: 1499px) {
    .donateTitle {
        width: 578px;
        font-size: 36px;
        line-height: 39px;
        font-style: normal;
        font-weight: 400;
    }

    .donateText {
        width: 405px;
        height: 120px;
        font-size: 12px;
    }

    .donateRight {
        margin-left: 152px;
        width: 252px;
        height: 385px;
    }
}
