.donateLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Montserrat;
    color: white;
    margin-bottom: 10vw;
}

.donateTitle {
    width: 24vw;
    font-weight: 500;
    font-size: 2vw;
    line-height: 2.2vw;
    margin-bottom: 2vw;
    text-align: center;
}

.donateText {
    max-width: 50vw;
    font-weight: 300;
    font-size: 0.95vw;
    line-height: 200%;
}

.donationBackground {
    position: absolute;
    top: 21vw;
    left: 17vw;
    width: 16vw;
}

@media only screen and (max-device-width: 500px) {
    .donateTitle {
        width: 450px;
        height: auto;
        font-size: 45px;
        line-height: 55px;
        font-weight: 300;
        text-align: center;
    }

    .donateText {
        max-width: 100vw;
        width: 80vw;
        height: auto;
        text-align: center;
        font-size: 14px;
        line-height: 60px;
        padding: 30px 0;
    }

    .donateRight {
        margin-left: 152px;
        width: 252px;
        height: 385px;
    }
}
