.headLine {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    margin: 137px 0 34px;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
}

.zuraas {
    margin: auto;
    margin-bottom: 100px;
    width: 80px;
    height: 6px;
    background: #00b65f;
}

.aboutEvery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.everything {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .allText {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 433px;
        height: 388px;
        margin: auto;
        .secondLine {
            margin-bottom: 16px;
            width: 40px;
            height: 6px;
            background: #00b65f;
        }
        .aboutHeadline {
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 49px;
            color: #ffffff;
        }

        .text {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 173.6%;
            color: #ffffff;
        }
        .readMore {
            cursor: pointer;
            width: 153px;
            height: 60px;
            border: 1px solid #ffffff;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 173.6%;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.aboutHeadline {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    width: 165px;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
}
.aboutImage {
    background-image: url("../../images&icons/BigSpaceX.png");
    // transform: scaleY(-1);
    width: 50vw;
    height: 861px;
    background-size: cover;
    background-position: center;
}
.getCenter {
    visibility: hidden;
    height: 861px;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .popUp {
        max-width: 600px;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 173.6%;
        color: #ffffff;
        text-align: center;
    }
}
.secondHeadline {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1499px) {
    .headLine {
        font-size: 26.8px;
        line-height: 32px;
        margin: 92px 0 23px;
    }

    .zuraas {
        width: 64px;
        height: 5px;
        margin-bottom: 107px;
    }

    .aboutEvery {
        .everything {
            width: 100vw;
            .allText {
                width: 346px;
                height: 310px;
                margin: auto;
                .secondLine {
                    margin-bottom: 13px;
                    width: 40px;
                    height: 6px;
                    background: #00b65f;
                }
                .aboutHeadline {
                    font-size: 30px;
                    line-height: 36px;
                }
                .text {
                    font-size: 13px;
                }
                .readMore {
                    width: 104px;
                    height: 36px;
                    font-size: 10px;
                }
            }
        }
    }

    .aboutImage {
        width: 50vw;
        height: 688px;
    }
    .getCenter {
        height: 688px;
        .popUp {
            max-width: 600px;
            font-size: 13px;
            line-height: 138.88%;
        }
    }    
}

@media only screen and (max-device-width: 500px) {
    .secondLine {
        width: 60px !important; 
        height: 10px !important ;
        background: #00b65f;
    }
    .headLine {
        font-weight: 500;
        font-size: 55px;
        line-height:  55px;
    }
    
    .zuraas {
        width: 60px;
        height: 9px;
    }

    .aboutEvery {
        .everything {
            display: flex;
            flex-direction: column;
            // width: 100vw;
            .allText {
                width: 80vw;
                display: flex;
                align-items: center;
                text-align: center;
                margin:  auto;
                height: auto;
                padding: 180px 0 100px;
                .headlineWithLine {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 50px;
                }
                .aboutHeadline {
                    margin-top: 30px;
                    display: flex;
                    flex-direction: row;
                    width: auto;
                    font-weight: 500;
                    font-size: 60px;
                    line-height: 49px;
                }
                .text {
                    font-size: 35px;
                    padding: 50px 0;
                }
                .readMore {
                    padding: 30px 60px;
                    width: auto;
                    height: auto;
                    font-size: 30px;
                }
            }
        }
    }
    .reverseForPhone {
        display: flex;
        flex-direction: column-reverse !important;
    }
    .aboutImage {
        width: 100vw;
        height: 50vh;
    }
    .getCenter {
        height: 100vh;
        .popUp {
            max-width: 600px;
            font-size: 35px;
            line-height: 138.88%;
        }
    }    
}