.aboutEvery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
}

.everything {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.secondLine {
    margin-bottom: 16px;
    width: 40px;
    height: 6px;
    background: #00b65f;
}
.allText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    height: 388px;
    color: white;
    font-family: "Montserrat", sans-serif;
    z-index: 2;

    .text {
        font-style: normal;
        font-weight: 400;
        font-size: 0.85vw;
        line-height: 160%;
    }
    .readMore {
        cursor: pointer;
        font-family: Montserrat;
        font-size: 0.85vw;
        font-weight: 600;
        width: 153px;
        height: 60px;
        background-color: #00b65f;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.projectText {
    margin: auto 0px auto 15vw;
}
.aboutText {
    position: absolute;
    margin: 22vh 0px 0px 57vw;
    width: 380px;
}

.aboutHeadline {
    font-family: "Montserrat", sans-serif;
    font-size: 2.2vw;
    font-weight: bold;
    line-height: 2.3vw;
    width: 165px;
    text-transform: uppercase;
}

.aboutImage {
    width: 50vw;
    background-size: cover;
    background-position: center;
}

.getCenter {
    height: 0px;
    width: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    z-index: 3;
    color: white;
    .popUp {
        max-width: 600px;
        font-family: "Montserrat", sans-serif;
        line-height: 173.6%;
        text-align: center;
        transition: 1s;
    }
}
.secondHeadline {
    display: flex;
    flex-direction: row;
}

.ourProjectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextImageLeft {
    width: 22vw;
    position: absolute;
    left: 0;
    z-index: 1;
}

.TextImageRight {
    width: 22vw;
    position: absolute;
    right: 0;
    transform: rotate(180deg);
    z-index: 1;
}
@media only screen and (max-width: 1499px) {
    .allText {
        height: 30vh !important;
        width: 370px;
    }
    .aboutText {
        width: 300px;
    }
    .headLine {
        font-size: 26.8px;
        line-height: 32px;
        margin: 92px 0 23px;
    }
}

@media only screen and (max-device-width: 500px) {
    .secondLine {
        width: 60px !important;
        height: 10px !important ;
        background: #00b65f;
    }
    .headLine {
        font-weight: 500;
        font-size: 55px;
        line-height: 55px;
    }

    .zuraas {
        width: 60px;
        height: 9px;
    }

    .aboutEvery {
        .everything {
            display: flex;
            flex-direction: column;
            // width: 100vw;
            .allText {
                width: 80vw;
                display: flex;
                align-items: center;
                text-align: center;
                margin: auto;
                height: auto;
                padding: 180px 0 100px;
                .headlineWithLine {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 50px;
                }
                .aboutHeadline {
                    margin-top: 30px;
                    display: flex;
                    flex-direction: row;
                    width: auto;
                    font-weight: 500;
                    font-size: 60px;
                    line-height: 49px;
                }
                .text {
                    font-size: 35px;
                    padding: 50px 0;
                }
                .readMore {
                    padding: 30px 60px;
                    width: auto;
                    height: auto;
                    font-size: 30px;
                }
            }
        }
    }
    .reverseForPhone {
        display: flex;
        flex-direction: column-reverse !important;
    }
    .onlyPhone {
        font-size: 60px;
    }
    .aboutImage {
        width: 100vw;
        height: 50vh;
    }
    .getCenter {
        height: 100vh;
        .popUp {
            max-width: 600px;
            font-size: 35px;
            line-height: 138.88%;
        }
    }
}
