.univers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 auto;
    img {
        display: inline-block;
        max-width: 180px;
        padding: 0 30px;
    }
}

.universityLogo {
    width: 6vw;
}

.shutis {
    width: 3.5vw;
}