.univers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 auto;
    img {
        display: inline-block;
        max-width: 180px;
        padding: 0 30px;
    }
}

.universityLogo {
    width: 6vw;
}

@media only screen and (max-device-width: 1100px) {
    .univers {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 33vh;
        margin: 0 auto;
        img {
            display: inline-block;
            max-width: 180px;
            padding: 0 60px;
        }
    }
    
    .universityLogo {
        width: 12vw;
    }
}