.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
}

.contactNameEmail {
    color: white;
    font-size: 1vw;
    line-height: 1.2vw;
    width: 57vw;
    padding: 1.1vw;
    padding-left: 3vw !important;
    outline: none;
    background: black;
    border-color: black;
}

.contactLineGreen {
    border: 1px solid #00b65f;
    opacity: 0.6;
    width: 57vw;
}
.contactLine {
    border: 1px solid #ffffff;
    width: 57vw;
    opacity: 0.6;
}
.contactMessage {
    font-size: 1vw;
    line-height: 1.2vw;
    width: 57vw;
    height: 16vw;
    background: black;
    color: white;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    margin-top: 3vw;
    padding: 1.1vw;
    outline: none;
}

.contactButton {
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    color: white;
    width: 57vw;
    height: 56px;
    border: none;
    background-color: #00b65f;
    outline: none;
    margin-top: 2vw;
    margin-bottom: 150px;
}

@media only screen and (max-device-width: 1100px) {
    .contactNameEmail {
        font-size: 1.8vw;
        line-height: 2.1vw;
        width: 90vw;
        padding: 3vw;
        padding-left: 3vw !important;
    }

    .contactLineGreen {
        opacity: 0.6;
        width: 95vw;
    }
    .contactLine {
        width: 95vw;
        opacity: 0.6;
    }

    .contactMessage {
        font-size: 1.8vw;
        line-height: 1.2vw;
        width: 95vw;
        height: 26vw;
        margin-top: 7vw;
        padding: 1.1vw;
    }

    .contactButton {
        font-size: 23px;
        line-height: 25px;
        width: 95vw;
        height: 60px;
        margin-top: 5vw;
        margin-bottom: 150px;
    }
}

@media only screen and (max-device-width: 500px) {
    .contactLineGreen {
        margin-bottom: 150px;
    }
    .contactLine {
        margin-bottom: 150px;
    }

    .contactNameEmail {
        font-size: 30px;
        line-height: 30px;
        width: 80vw;
        padding: 20px 40px;
    }

    .contactMessage {
        font-size: 30px;
        line-height: 16px;
        width: 85vw;
        height: 50vh;
        margin-top: 40px;
        padding: 24px;
    }

    .contactButton {
        font-size: 30px;
        line-height: 40px;
        width: 85vw;
        height: 88px;
        margin-top: 44px;
        margin-bottom: 120px;
    }
}
