.opacity {
  background-image: url("../assets/backgrounds//desert.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  color: white;
  font-family: "Montserrat", sans-serif;

  .firstLook {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
      linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2)
      );
    .firstRectangle {
      position: absolute;
      margin-top: 9vh;
      // font-weight: 800;
      // font-size: 60px;
      // line-height: 59px;
      // text-align: center;
      height: 40vw;
    }
  }
  .headerArrow {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 90vh;
  }
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1499px) {
  .logo {
    height: 70px;
    width: 70px;
    margin: 30px 0 0 30px;
  }
  .opacity {
    .firstLook {
      .firstRectangle {
        font-size: 48px;
        line-height: 48px;
        // font-weight: 400;
      }
    }
  }

  .linkButtons {
    font-weight: 480;
    font-size: 16px;
    line-height: 19px;
    margin: 44px 19px 0px;
  }
}

@media only screen and (max-device-width: 500px) {
  .logo {
    height: 90px;
    width: 90px;
    margin: 30px 0 0 30px;
  }
  .opacity {
    background-position: center;
    .firstLook {
      .linkButtons {
        font-weight: 480;
        font-size: 16px;
        line-height: 19px;
        margin: 44px 19px 0px;
      }
      .firstRectangle {
        margin-top: 45vh;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 90px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}
