.ourSponsor {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .zuraas {
        margin-bottom: 3vw;
        z-index: 2;
    }
}

.sponsor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    margin-bottom: 60px;
    img {
        width: 10vw;
    }
}

@media only screen and (max-device-width: 1100px) {
    .sponsor {
        width: 94vw;
        margin-bottom: 60px;
        justify-content: space-between;
        img {
            width: 17vw;
        }
    }
}