.universities {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 160px;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 auto;
    img {
        display: inline-block;
        margin: 0 1vw 0 1vw;
    }
}

.universityLogo {
    width: 7vw;
}

.shutis {
    width: 4vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}
.harvard {
    width: 11vw;
    margin: 0 !important;
}
.berkeley {
    width: 11vw;
}
.mit {
    width: 8vw;
}
.duke {
    width: 10vw;
}

@media only screen and (max-device-width: 1100px) {
    .univers {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 33vh;
        margin: 0 auto;
        img {
            display: inline-block;
            padding: 0 60px;
        }
    }

    .universityLogo {
        width: 12vw;
    }
}

@media only screen and (max-device-width: 500px) {
    .univers {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        img {
            display: inline-block;
            padding: 0 60px;
        }
    }

    .universityLogo {
        width: 19vw !important;
    }

    .shutis {
        width: 10vw;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }
    .harvard {
        width: 26vw;
        margin: 0 !important;
    }
    .berkeley {
        width: 20vw;
    }
    .mit {
        width: 15vw;
    }
    .duke {
        width: 20vw;
    }
}
