.nav {
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    .text {
        color: white;   
        font-size: 35px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
    }
    .menu {
        .menuItems {
            
        }
    }
}
.padding {
    padding: 0 30px;
}

