.nav {
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.textNav {
    color: white;   
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}
.menuText {
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    font-family: "Montserrat", sans-serif !important;
    cursor: pointer;
}
.padding {
    padding: 0 30px;
}

@media only screen and (max-device-width: 500px) {
    .padding {
        padding: 0 60px;
    }
    .nav {
        width: 100vw;
        height: 9vh;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .textNav {
        color: white;   
        font-size: 40px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
    }
    .icon {
        font-size: 60px !important;
    }
    .MuiDrawer-paperAnchorRight{
        width: 60vw;
    }
    .MuiTypography-body1{
        font-size: 3rem !important;
        padding: 10px 20px 0;
        width: 50vw;
    }
    .MuiList-padding{
        padding: 15px 0px !important;
    }
    .social {
        width: 60px;
        height: 60px;
    }
    .copyright{
        width: 50vw;
        font-size: 30px !important;
        line-height: 30px !important;
    }
} 