.logo {
  background-image: url("../../images&icons/logo.png");
  height: 88px;
  width: 88px;
  background-size: cover;
  position: absolute;
  margin: 37px 0 0 37px;
}

.opacity {
  // to top, #000000 0.01%, rgba(0, 0, 0, 0) 82%),
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images&icons/backgroundLogo.png");
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  .firstLook {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .linkButtons {
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      display: inline-block;
      margin: 56px 24px 0px;
      text-decoration: none !important;
    }
    .firstRectangle {
      position: absolute;
      margin-top: 45vh;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 60px;
      line-height: 59px;
      text-align: center;
    }
    .arrowCenter {
      width: 100vw;
      display: flex;
      justify-content: center;
      margin-bottom: 56px;
      .arrow {
        cursor: pointer;
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
      }
      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 1499px) {
  .logo {
    height: 70px;
    width: 70px;
    margin: 30px 0 0 30px;
  }
  .opacity{
    .firstLook{
      .firstRectangle{
        font-size: 48px;
        line-height: 48px;
        // font-weight: 400;
      }
    }
  }

  .linkButtons {
    font-weight: 480;
    font-size: 16px;
    line-height: 19px;
    margin: 44px 19px 0px;
  }
}

@media only screen and (max-device-width: 500px) {
  .logo{
    height: 90px;
    width: 90px;
    margin: 30px 0 0 30px;
  }
  .opacity {
    background-position: center;
    .firstLook {
      .linkButtons {
        font-weight: 480;
        font-size: 16px;
        line-height: 19px;
        margin: 44px 19px 0px;
      }    
      .firstRectangle {
        margin-top: 45vh;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 90px;
        text-align: center;
        color: #FFFFFF;
      } 
    }
  }
}


