.timeline {
    color: white;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Montserrat", sans-serif;
    .secondLine {
        margin-top: 10vw;
    }
}

.timeline-head {
    text-transform: uppercase;
    font-size: 2.3vw;
    font-weight: 600;
    line-height: 2.6vw;
}

.timelineText {
    margin-top: 1.5vw;
    font-family: Raleway;
    width: 35vw;
    text-align: start;
    font-size: 1vw;
    line-height: 1.5vw;
}

.timeImage {
    width: 25vw;
}

.timeline-first-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.timelineMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineContainer {
    display: flex;
    align-items: center;
}

.line {
    height: 1.4px;
    width: 7vw;
    background-color: #00B65F;
}

.lineLeft, .lineRight {
    width: 4vw;
}   

.timeDot {
    height: 0.7vw;
    width: 0.7vw;
    border-radius: 50%;
    background-color: #AFAFAF;
}