.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactName {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    width: 1256px;
    padding: 16px;
    outline: none;
    background: black;
    color: white;
    border-color: black;
}

.contactLineGreen {
    border: 1px solid #00B65F;
    width: 85vw;
}
.contactLine {
    border: 1px solid #FFFFFF;
    width: 85vw;
}

.contactEmail {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    width: 85vw;
    padding: 16px;
    outline: none;
    background: black;
    color: white;
    border-color: black;
}

.contactMessage {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    width: 85vw;
    height: 320px;
    background: black;
    color: white;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: 50px;
    padding: 16px;
    outline: none;
}

.contactButton {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: white;
    width: 85vw;
    height: 56px;
    border: none;
    background-color: #00B65F   ;
    outline: none;
    margin-top: 56px;
    margin-bottom: 150px;
}

.name {
    position: absolute;
    left: 46vw;
    // right: 680px;
    margin-top: 20px;
}

.email {
    position: absolute;
    right: 370px;
    margin-top: 24px;
}

.message {
    position: absolute;
    left: 46vw;
    margin-top: 20px;
}

@media only screen and (max-width: 1499px) {
    .contactLineGreen {
        width: 85vw;
    }
    .contactLine {
        width: 85vw;
    }
    
    .contactName {
        font-size: 12px;
        line-height: 20px;
        width: 82vw;
        padding: 12px;
    }

    .contactEmail {
        font-size: 12px;
        line-height: 20px;
        width: 82vw;
        padding: 12px;
    }
    
    .contactMessage {
        font-size: 12px;
        line-height: 16px;
        width: 85vw;
        height: 256px;
        margin-top: 40px;
        padding: 12px;
    }
    
    .contactButton {
        font-size: 16px;
        line-height: 19px;
        width: 85vw;
        height: 44px;
        margin-top: 44px;
        margin-bottom: 120px;
    }
    
    // .name {
    //     position: absolute;
    //     left: 46vw;
    //     // right: 680px;
    //     margin-top: 20px;
    // }
    
    // .email {
    //     right: 296px;
    //     margin-top: 19px;
    // }
    
    // .message {

    //     left: 46vw;
    //     margin-top: 16px;
    // }
}

@media only screen and (max-width: 1025px) {
    
    
}