.touchingO {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.UsCircle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background: #ffffff;
    color: white;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.zuraasT {
    width: 240px;
    height: 2px;
    background: #737386;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin: 0 32px;
}

.sponser {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
}

@media only screen and (max-width: 1499px) {
    .UsCircle {
        width: 12px;
        height: 12px;
        font-size: 16px;
        line-height: 19px;
    }

    .zuraasT {
        width: 160px;
        height: 21px;
        margin: 0 21px;
    }

    .sponser {
        margin-bottom: 107px;
    }
}
