.headLine{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: center ;
    margin: 137px 0 34px;
}

.zuraas {
    width: 134px;
    height: 6px;
    background: #FFFFFF;
    border-radius: 1px;
    margin: auto;
}

.touching {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.usCircle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background: #FFFFFF;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.zuraasT {
    width: 240px;
    height: 2px;
    background: #737386;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin: 0 32px ;
}