.footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.footerLine {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    height: 2px;
    width: 60vw;
}


.copyright {
    font-family: Montserrat;
    font-size: 1.2vw;
    margin: 3vw 0px 4vw 0px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: white;
}

.footerLinks {
    width: 12vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-evenly;
}

.footerBc1 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.footerBc2 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

@media only screen and (max-device-width: 500px) {
    .footer {
        // height: 112px;
        max-width: 80vw;
        padding: 20px 0;
        .copyright {
            font-size: 25px;
            line-height: 19px;
        }
        img {
            height: 45px;
            cursor: pointer;
            margin: 0 25px;
        }
    }
}
