.footerLine {
    opacity: 0.5;
    border: 1px solid #FFFFFF;
    width: 100vw;
}

.footer {
    background-color: black;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin: 0 auto;
    .copyright {
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: white;
    }
    img {
        margin: 0 17px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1499px) {
    .footer {
        height: 112px;
        .copyright {
            font-size: 16px;
            line-height: 19px;
        }
        img {
            cursor: pointer;
            margin: 0 13px;
        }
    }   
}
@media only screen and (max-device-width: 500px) {
    .footer {
        // height: 112px;
        max-width: 80vw;
        padding: 20px 0;
        .copyright {
            font-size: 25px;
            line-height: 19px;
        }
        img {
            height: 45px;
            cursor: pointer;
            margin: 0 25px;
        }
    }   
}