<<<<<<< HEAD
.headLineTeam {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    margin: 137px 0 34px;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
}

.aboutEveryTeam {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.everythingTeam {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 181px;
    .allTextTeam {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 433px;
        height: 388px;
        // margin: auto;
        .secondLineTeam {
            width: 40px;
            height: 6px;
            background: #00B65F;
        }
        .aboutHeadlineTeam {
            text-transform: uppercase;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 49px;
            color: #ffffff;
        }

        .textTeam {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 173.6%;
            color: #ffffff;
        }
        .readMoreTeam {
            cursor: pointer;
            width: 153px;
            height: 60px;
            border: 2px solid #ffffff;
            border-radius: 2px;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 173.6%;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.aboutImageTeam {
    background-image: url("../../images&icons/BigSpaceX.png");
    width: 50vw;
    height:861px;
    background-size: cover;
    background-position: center;
}
.namesTeam {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 20px;
    margin: 40px 0 40px 0;
}


@media only screen and (max-width: 1499px) {
    .everythingTeam {
        width: 100vw;
        .allTextTeam {
            width: 346px;
            height: 310px;
            .aboutHeadlineTeam {
                font-size: 30px;
                line-height: 36px;
            }

            .textTeam {
                font-size: 13px;
            }
            .readMoreTeam {
                width: 104px;
                height: 36px;
                font-size: 10px;
            }
        }
    }

    .aboutImageTeam{
        width: 50vw;
        height: 688px;
    }
}

=======
.everything {
    margin-top: 200px;
}
>>>>>>> e740c1e13d9a43144ec1b5d63e12bcd00c731be1
