.headerText {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 40px;
    margin: 40px 0 40px 0;
}

.images {
    height: 300px;    
    width: 250px;
    background-color: yellowgreen;
}

.teacherCard {
    
}

.names {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Montserrat;
    font-size: 20px;
    margin: 40px 0 40px 0;
}

