.ourTeamEverything {
    margin-top: 10vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.ourTeamTitle {
    font-family: Montserrat;
    font-size: 2.3vw;
    font-weight: 600;
    line-height: 2.6vw;
    text-transform: uppercase;
}

.ourTeamText {
    margin-top: 2vh;
    font-family: Raleway;
    font-size: 1.3vw;
    line-height: 1.7vw;
    width: 56vw;
    text-align: center;
}

.ourTeamMemebers {
    margin-top: 4vw;
    display: grid;
    grid-template-columns: repeat(4, 17vw);
    grid-gap: 1rem;
    z-index: 2;
    font-family: Montserrat;
}

.memberImg {
    width: 17vw;
    border-radius: 4px;
}

.memberName {
    font-weight: 600;
    font-size: 1.3vw;
    line-height: 3vw;
    text-align: center;
}

.memberRole {
    font-size: 1.1vw;
    line-height: 3vw;
    text-transform: uppercase;
    text-align: center;
    color: #00b65f;
}

.ourTeamButton {
    cursor: pointer;
    margin-top: 2vw;
    width: 8vw;
    height: 5vh;
    font-family: Montserrat;
    font-size: 1.2vw;
    line-height: 2.4vw;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-device-width: 1100px) {
    .ourTeamEverything {
        margin-top: 10vw;
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    .ourTeamTitle {
        font-family: Montserrat;
        font-size: 3.2vw;
        font-weight: 600;
        line-height: 3.7vw;
    }
    
    .ourTeamText {
        font-size: 1.5vw;
        line-height: 2.1vw;
    }
    
    .ourTeamMemebers {
        margin-top: 4vw;
        grid-template-columns: repeat(3, 30vw);
        grid-gap: 1.5rem;
    }
    
    .memberImg {
        width: 30vw;
        border-radius: 4px;
    }
    
    .memberName {
        font-size: 1.6vw;
        line-height: 3.3vw;
    }
    
    .memberRole {
        font-size: 1.5vw;
        line-height: 3.2vw;
    }
    
    .ourTeamButton {
        margin-top: 2vw;
        width: 11vw;
        height: 3vh;
        font-family: Montserrat;
        font-size: 1.5vw;
        line-height: 2.4vw;
    }    
    .visibility{
        visibility: hidden;
        overflow: hidden;
        height: 0;
    }
}