.opacity {
  background-image: linear-gradient(to top, #080828 0.01%, rgba(0, 0, 0, 0) 81.25%), 
    url('./images&icons/spaceX.png');
  background-size: cover;
  width: 100vw;
  .firstLook {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .linkButtons {
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      display: inline-block;
      margin: 56px 24px 0px;
    }    
    .firstRectangle {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 80px;
      line-height: 98px;
      text-align: center;
    }
    .arrowCenter {
      width: 100vw;
      display: flex;
      justify-content: center;
      margin-bottom: 56px;
      .arrow {
        cursor: pointer;
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
      }
      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    } 
  }
}