body {
  background-color: #000000;
  overflow-x: hidden;
  margin: 0;
}
#root {
  background-color: #000000;
}
.zuraas {
  margin: auto;
  margin-bottom: 100px;
  width: 80px;
  height: 6px;
  background: #00b65f;
}
.headLine {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  margin: 137px 0 34px;
  font-size: 2.3vw;
  font-weight: 600;
  line-height: 2.6vw;
}
